<div class="main-container">
  <h2>テーブル構造作成例</h2>
  <div class="table-container">
    <table class="user-list">
      <thead class="user-list-header">
        <td>ID</td>
        <td>Name</td>
        <td>E-mail</td>
        <td>Phone</td>
        <td>Website</td>
      </thead>
      <tbody class="user-list-body"></tbody>
    </table>
    <div>
      <table>
        <tr class="user-list-tempalate-row">
          <td name="id"></td>
          <td name="name"></td>
          <td name="email"></td>
          <td name="phone"></td>
          <td name="website"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
